<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add your head content here -->
    <link rel="stylesheet"  th:href="@{/css/form.css}">

</head>
<body>
<div class="form">
    <div class="form__box">
        <div class="form__left">
            <div class="form__padding"><img class="form__image" src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png" /></div>
        </div>
        <div class="form__right">
            <div class="form__padding-right">
                <form method="post" th:action="@{/update}" th:object="${person}">
                    <h1 class="form__title">Update Person</h1>
                    <input class="form__email" type="text" value="{person.name}" th:field="*{name}" placeholder="Name" />
                    <input class="form__email" type="text" th:field="*{mobile}" placeholder="Mobile" />
                    <input class="form__email" type="text" th:field="*{email}" placeholder="Email" />
                    <input class="form__email" type="text" th:field="*{internship}" placeholder="internship" />
                    <button class="form__submit-btn" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
