<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  th:href="@{/css/fomr.css}">
</head>
<body>
	
<div class="form">
	<div class="form__box">
	  <div class="form__left">
		<div class="form__padding"><img class="form__image" src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"/></div>
	  </div>
	  <div class="form__right">
		<div class="form__padding-right">
		  <form method="post" action="admin/login">
			<h1 class="form__title">Member Login</h1>
			<input class="form__email" type="email" id="username" name="username" placeholder="Email"/>
			<input class="form__password" id="password" name="password" type="text" placeholder="******"/>
			<!-- <button class="form__submit-btn" type="submit">login</button> -->
			<input class="form__submit-btn" type="submit" value="Login"/>

			<span th:if="${error}" class="error">Invalid username or password.</span>
              
		  </form>
		  <span>Forgot<a class="form__link" href="#">Username</a><a>/</a><a class="form__link" href="#">Password</a></span>
		  <p> <a class="form__link" href="#">Create your account</a></p>
		</div>
		
	  </div>

	</div>
  </div>
</body>
</html>